header {
    display: block;
    margin: 0;
    padding: 2px;
    background-color: burlywood;
}

button {
    float: right;
    padding: 2%;
}

.container {
    padding: 3px;
    margin: 13px;
}

.news button {
    
}
.news img {
 /* background-image: image(graphic.png); */
 width: 75vw;
 margin: 0 auto;
 height: 200px;
 background-position: 0%;
 background-position: top;
 background-repeat: round;
 width: 50%;
 position: overlay;
}

.container {
    display: inline-block;
    height: 50%;
    align-items: left;
    width: 50%;
}


.tablo
{
    display: block;
    position: relative;
    text-align: center;
    color: black;
    
}
    
.tablo h1 {
    font-size: 16px;
    font-weight: bold;
}

.tekstas {
    position: absolute;
    top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
      }

.social img {
    filter: grayscale(100%);
}